/*=============== Fuentes de GOOGLE ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/*============== Variables Fuentes colores dimensiones  =======================*/

:root{    
    /*============= Altura de header ===========*/
    --header-height: 3rem
    /*============= Colores ================*/
    /* cambiar el color que quiera */
    /*verde oscuro 190 - verde 171 - verde azul 200*/
    --hue-color: 171;
    /* HSL modo de color */
    --first-color: hsl(var(--hue-color), 64%, 22%);
    --first-color-second: hsl(var(--hue-color), 64%, 22%);
    --first-color-alt: hsl(var(--hue-color), 64%, 15%);
    --title-color: hsl(var(--hue-color), 64%, 18%);
    --text-color: hsl(var(--hue-color), 24%, 35%);
    --text-color-light: hsl(var(--hue-color), 8%, 60%);
    --input-color: hsl(var(--hue-color), 24%, 97%);
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --white-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
    /*=========== Fuente y tipografia =========*/
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*============ Tamaño de fuente ========= */
    --font-medium: 500;
    --font-semi-bold: 600;
    /* =========== Margenes  superiores ======= */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    /* ===========  Eje Z =============== */
    --z-tooltip: 10;
    --z-fixed: 100;
    /* ============= Superposición de desplazamiento ========== */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

/* ============ Variables Medidas Responive ========*/

@media screeb and (min-width: 968px) {
    :root{
        /*=============== Fuente y Tamaño ==========*/
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*================ Variables de Tema oscuro ==========*/
body.dark-theme {
    --first-color-second: hsl(var(--hue-color), 54%, 12%);
    --title-color: hsl(var(--hue-color), 24%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 29%, 12%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
} 
/*================ Boton oscuro/claro ===============*/
.nav__dark {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    position: absolute;
    left: 3rem;
    bottom: 4rem;
}

.change-theme, .change-theme-name {
    color: var(--text-color);
}

.change-theme {
    cursor: pointer;
    font-size: 1rem;
}

.change-theme-name {
    font-size: var(--small-font-size);
}
/*================ Base ============================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

.main {
    overflow-x: hidden;
}
/*================== Clases Css ==================*/
.section {
    padding: 4.5rem 0 2.5rem;
}

.section__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-2);
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.grid {
    display: grid;
    gap: 1.5rem;
}
/*================== HEADER ======================*/

/*================= NAVEGACION ================*/

/* Mostrar Menu */

/* Cambiar fondo del Header */

/* Activar Link */

/*================= INICIO =============*/

/* ================ Botones ===========*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button--flex {
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.button--link {
    background: none;
    padding: 0;
}

.button--link:hover {
    background: none;
}
/*===================INFORMACION =======*/

/*=============== DISCOVER ===============*/

/*=============== EXPERIENCE ===============*/

/*=============== VIDEO ===============*/

/*=============== Lugares y Hoteles ===============*/
.place__card, .place__img {
    height: 230px;
    filter: invert(0.1);
}

.place__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
}

.place__card {
    position: relative;
    overflow: var(--img-hidden);
    background-color: rgba(37, 109, 123,1);
}

.place__card:hover .place__img {
    transform: var(--img-scale);
}

.place__img {
    transition: var(--img-transition);
    background-color: rgba(37, 109, 123,1);
}

.place__content, .place__title {
    color: var(--white-color);
}

.place__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .75rem .75rem 1rem;
}

.place__rating {
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.place__rating-icon {
    font-size: .75rem;
    margin-right: var(--mb-0-25);
}

.place__rating-number {
    font-size: var(--small-font-size);
}

.place__subtitle, .place__price {
    display: block;
}

.place__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.place__subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1-25);
}

.place__button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .75rem 1rem;
}
/*=============== SUSCRIBE ===============*/
.subscribe__bg {
    background-color: var(--first-color-second);
    padding: 2.5rem 0;
}

.subscribe__title, 
.subscribe__description {
    color: var(--white-color);
}

.subscribe__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.subscribe__form {
    background-color: var(--input-color);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

.subscribe__input {
    width: 70%;
    padding-right: .5rem;
    background-color: var(--input-color);
    color: var(--text-color);
}

.subscribe__input::placeholder {
    color: var(--text-color);
}

/*=============== PATROCINADORES ===============*/
.sponsor__container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    justify-items: center;
    row-gap: 3.5rem;
}

.sponsor__content:hover .spon-efect{
    filter: invert(0.5);
}

.sponsor__img{
    width: 90px;
}
    
.spon-efect {
    filter: invert(0.7);
    transition: var(--img-transition);
}

/*=============== FOOTER ===============*/

/*========== SCROLL hacia arriba ==========*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    padding: .5rem;
    display: flex;
    opacity: .9;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
    opacity: 1;
}

.scrollup__icon {
    color: var(--white-color);
    font-size: 1.2rem;
}
.scrollup__icon-wpp{
    color: #FFF;
}
  /* mostrar scroll */
.show-scroll {
    bottom: 5rem;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}
/*=============== MEDIA QUERIES ===============*/
    /* For large devices */